/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .mobile {
    padding-top: 40px;
    padding-bottom: 40px; }
    .mobile .mobile-text {
      padding-top: 0px;
      padding: 20px; }
  .brands .juf-end, .brands .juf-cent, .brands .juf-start {
    justify-content: center; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .purchase {
    text-align: center; }
  .mobile img {
    display: none; }
  .mobile {
    padding-top: 40px;
    padding-bottom: 40px; }
    .mobile .mobile-text {
      padding-top: 0px;
      padding: 20px; }
  .numbers hr {
    display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .slogan h1 {
    font-size: 30px; }
  .slogan h2 {
    font-size: 20px; }
  .slogan .btn {
    margin-top: 10px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
